
body {
background-image: url(./img/sfondo\ vero.png);
   z-index: -2;
   background-repeat: no-repeat;
}



h1 {
    color: #C8B6FF;
    margin-top: 300px;
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
}


.text-center {
    color: #553324;
    margin-top: 30px;
    margin-left: 90px;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}

h2{
    color: #7DA6FF;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}









.carte {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.card {
    background-color: #553324;
}


.card-title {
    color: white;
    font-family: 'Playfair Display', serif;
}

.card-text {
    color: white;
    font-family: 'Playfair Display', serif;
}



/* .navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-between;
} */

.nav-item2 {
    /* margin-right: 410px; */
    color: #553324;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}

.nav-link {
    color: #553324;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.navbar{
background-color: #BBD0FF;
}

.dropdown-menu {
    color: #E7C6FF;
    font-family: 'Playfair Display', serif;
}

.navbar-nav{
margin-right: 330px;
}





